name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew assembleDebug

    # --- SEPARATE UPLOAD FOR CUSTOMER APP ---
    - name: Upload Customer App
      uses: actions/upload-artifact@v3
      with:
        name: Customer-App-APK
        path: apps/customer-app/build/outputs/apk/debug/*.apk

    # --- SEPARATE UPLOAD FOR DRIVER APP ---
    - name: Upload Driver App
      uses: actions/upload-artifact@v3
      with:
        name: Driver-App-APK
        path: apps/driver-app/build/outputs/apk/debug/*.apk
